@import "tailwindcss";

@layer components {
  /* .toggle_btn.open {
    @apply text-slate-400;
  } */

  /* Ajouter la rotation ici */
  .toggle_btn.open .chevron {
    @apply rotate-180 transition-transform duration-300;
  }
}


@layer utilities {
  .rotate-180 {
    transform: rotate(180deg);
  }
  .-rotate-180 {
    transform: rotate(-180deg);
  }
}


@layer utilities {

  td {
    display: block;
  }

  td::before {
    content: attr(data-label);
    font-weight: 600;
    display: block;
    margin-bottom: 0.25rem;
    color: #0b1025;
  }

  @media (min-width: 1024px) {
    td {
      display: table-cell;
    }

    td::before {
      content: none;
      display: none;
    }
  }
}



